:root {
    --clr: #1c1c27;
    --clr-acc: #28293d;
    --text-clr: #fff;
    --height: 20px;
    --max-height: 64px;
}

body {
    background: var(--clr);
    color: var(--text-clr);
    font-family: 'Montserrat';
    font-size: var(--height);
    white-space: nowrap;
    width: fit-content;
    padding: 10%;
}

/* Toolbar */
.toolbar {
    position: fixed;
    bottom: 50px;
    right: 50px;
}
.toolbar .tool {
    width: 60px;
    height: 60px;
    background-color: #28293d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all .2s;
}
.toolbar i {
    font-size: 40px;
    color: #1c1c27;
}
.toolbar .tool:hover {
    cursor: pointer;
    transform: scale(1.2);
}


i {
    color: var(--clr-acc);
    transition: 0.2s all linear;
}
input {
    color: var(--text-clr);
    font-family: 'Montserrat';
    font-size: var(--height);
    background-color: var(--bg);
    border: none;
    padding: var(--height);
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition: all .4s ease;
}
input:focus {
    background: var(--clr-acc);
    outline: none;
}
.user-object {
    text-align: center;
    display: inline-grid;
    grid-template-columns: auto auto auto;
}
.top-bottom {
    padding: var(--height);
}
.left-right {
    padding: var(--height);
}
.empty {
    height: var(--max-height);
}
i.fas.fa-user:hover {
    cursor: pointer;
    color: #6798ff;
}
i.fas.fa-user.sibling:hover {
    cursor: pointer;
    color: #56eaa1;
}
i.fas.fa-heart:hover {
    cursor: pointer;
    color: #ff8080;
}
i.fas.fa-paw:hover {
    cursor: pointer;
    color: #fdcd77;
}
.samples {
    display: none;
}
.new-entities {
    padding: var(--height) 0px;
    height: calc(var(--max-height) - var(--height) * 2);
}

/* Generations */
.generation {
    display: block;
}
.parent {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

/* Relations */
.bottom-top {
    display: flex;
    justify-content: center;
}
.bottom-top div {
    border-left: 5px solid #28293d;
    transition: 0.2s all linear;
    height: 100%;
}
.bottom-top div:hover {
    border-left: 5px solid #6798ff;
}

.bottom-to-right {
    margin: 0 0 0 50%;
}
.bottom-to-right div {
    border-radius: 10px 0px 0px 0px;
    border-top: 5px solid #28293d;
    border-left: 5px solid #28293d;
    transition: 0.2s all linear;
    height: 100%;
}
.bottom-to-right div:hover {
    border-top: 5px solid #6798ff;
    border-left: 5px solid #6798ff;
} 

.bottom-to-left {
    margin: 0 50% 0 0;
}
.bottom-to-left div {
    border-radius: 0px 10px 0px 0px;
    border-top: 5px solid #28293d;
    border-right: 5px solid #28293d;
    transition: 0.2s all linear;
    height: 100%;
}
.bottom-to-left div:hover {
    border-top: 5px solid #6798ff;
    border-right: 5px solid #6798ff;
}