:root {
    --clr: #1c1c27;
    --clr-acc: #28293d;
    --text-clr: #fff;
    --height: 20px;
    --max-height: 64px;
}

body {
    margin: 10%;
    background: var(--clr);
    color: var(--text-clr);
    font-family: 'Montserrat';
    font-size: var(--height);
}

i {
    color: var(--clr-acc);
    transition: 0.2s all linear;
}
input {
    color: var(--text-clr);
    font-family: 'Montserrat';
    font-size: var(--height);
    background-color: var(--bg);
    border: none;
    padding: var(--height);
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition: all .4s ease;
}
input:focus {
    background: var(--clr-acc);
    outline: none;
}
.user-object {
    text-align: center;
    display: inline-grid;
    grid-template-columns: auto auto auto;
}
.top-bottom {
    padding: var(--height);
}
.left-right {
    padding: var(--height);
}
.empty {
    height: var(--max-height);
}
i.fas.fa-user:hover {
    cursor: pointer;
    color: #6798ff;
}
i.fas.fa-user.sibling:hover {
    cursor: pointer;
    color: #56eaa1;
}
i.fas.fa-heart:hover {
    cursor: pointer;
    color: #ff8080;
}
i.fas.fa-paw:hover {
    cursor: pointer;
    color: #fdcd77;
}
.samples {
    display: none;
}
.new-entities {
    padding: var(--height) 0px;
    height: calc(var(--max-height) - var(--height) * 2);
}

/* Generations */
.generation {
    display: block;
}
.parent {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

/* Relations */
.sibling-relation {
    width: 80px;
    display: flex;
    align-items: center;
}
.sibling-relation hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    border-top: 5px solid var(--clr-acc);
}
.sibling-relation hr:hover {
    border-top: 5px solid #56eaa1;
    transition: 0.2s all linear;
}

.partner-relation {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent-relation-vertical {
    height: 64px;
    line-height: 64px;
}
.parent-relation-vertical span {
    border-left: 5px solid var(--clr-acc);
    transition: 0.2s all linear;
    border-radius: 10px;
    font-size: 32px;
}
.parent-relation-vertical span:hover {
    border-left: 5px solid #6798ff;
}

.parent-relation-right,
.parent-relation-left,
.parent-relation-horizontal-left,
.parent-relation-horizontal-right {
    align-items: center;
    height: 64px;
}
.parent-relation-right div {
    width: 50%;
    border-top: 5px solid var(--clr-acc);
    border-right: 5px solid var(--clr-acc);
    border-radius: 0px 10px 0px 0px;
    transition: 0.2s all linear;
    height: 32px;
}
.parent-relation-right div:hover {
    border-top: 5px solid #6798ff;
    border-right: 5px solid #6798ff;
}
.parent-relation-left div {
    margin-left: 50%;
    width: 50%;
    border-top: 5px solid var(--clr-acc);
    border-left: 5px solid var(--clr-acc);
    border-radius: 10px 0px 0px 0px;
    transition: 0.2s all linear;
    height: 32px;
}
.parent-relation-left div:hover {
    border-top: 5px solid #6798ff;
    border-left: 5px solid #6798ff;
}

.parent-relation-horizontal-right div {
    margin-left: 50%;
}

.parent-relation-horizontal-left div,
.parent-relation-horizontal-right div {
    width: 50%;
    border-top: 5px solid var(--clr-acc);
    transition: 0.2s all linear;
    height: 32px;
}
.parent-relation-horizontal-left div:hover, 
.parent-relation-horizontal-right div:hover {
    border-top: 5px solid #6798ff;
}